body{
    background-image: linear-gradient(45deg, black, blueviolet );
}

div{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 1);
    position: absolute;
    padding: 80px;
    border-radius: 15px;
    color: white;
}

input{
    padding: 15px;
    border:none;
    outline:none;
}

button{
    border:none;
    padding: 15px;
    width: 100%;
    border-radius: 10px ;
    color:white;
    background-color: blueviolet;
    margin-bottom: 5%;
}

button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}

a{
    margin-left: 40%;
    color: white;
}